<div class="tabs">
        <!-- Radio button and lable for #tab-content1 -->
        <input type="radio" name="tabs" value="pie-chart" id="tab1" checked>
        <label for="tab1" id="piechart-tab-label"  class="table-inputs">
            <i class="fa fa-pie-chart"></i><span></span>
        </label>
        <!-- Radio button and lable for #tab-content2 -->
        <input type="radio" name="tabs" value="bar-chart" id="tab2">
        <label for="tab2"  class="table-inputs">
            <i class="fa fa-bar-chart bar-chart"></i><span></span>
        </label>
        <!-- Radio button and lable for #tab-content3 -->
        <input type="radio" name="tabs" value="column-chart" id="tab3">
        <label for="tab3"  class="table-inputs">
            <i class="fa fa-bar-chart"></i><span></span>
        </label>
        <!-- Radio button and lable for #tab-content3 -->
        <input type="radio" name="tabs" value="line-chart" id="tab4">
        <label for="tab4" class="table-inputs">
            <i class="fa fa-line-chart"></i><span></span>
        </label>
    <div id="tab-content1" class="tab-content">
        <div id="pie-chart-container" class="chart"></div>
    </div> <!-- #tab-content1 -->
    <div id="tab-content2" class="tab-content">
        <div id="bar-chart-container" class="chart"></div>
    </div> <!-- #tab-content2 -->
    <div id="tab-content3" class="tab-content">
        <div id="column-chart-container" class="chart"></div>
    </div> <!-- #tab-content3 -->
    <div id="tab-content4" class="tab-content">
        <div id="line-chart-container" class="chart"></div>
    </div> <!-- #tab-content3 -->
</div>
