@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 40px;
    }
}
.navbar-default .navbar-nav>li>a{
    color:#ffffff;
    text-transform: uppercase;
}
#page-wrapper{
    margin-top:150px;
}
.btn-primary, .form-control{
    border-radius: 0px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
    color:#ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar-header {
    padding: 20px;
}
.navbar-header a{
    color:#ffffff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background:#337ab7;
}
.themes .selected{
    color:#ffffff;
    background: #337ab7;
}
.themes a{
    background: #000000;
    color:#ffffff;
}
.right-elements{
    margin-right: 40px;
    text-transform: uppercase;
}
.bg-primary{
    background: #000000;
}
.themes a{
    background: #000000;
    color:#ffffff;
}
.right-elements{
    margin-right: 40px;
    text-transform: uppercase;
}
.nav>li>a.theme:focus, .nav>li>a.theme:hover{
    color:#000000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#ffffff;
}
@media (max-width: 500px) {
    .footer {
        position:relative;
    }
    .themes{
        width:30%;
        text-align: center;

        margin-right:40px;
    }
}
.lang ul{
    list-style: none;
    margin-top:20px;

}
.lang ul li a{
    color:#ffffff;
    padding: 10px;
    text-transform: uppercase;
    cursor:pointer;
}
.lang ul li{
    float:left;
}
.themes{
    margin-right: 20px;
}
ul.lang{
    display: block;
    float: right;
}

.tile{
    padding: 20px;
    min-height:250px;
    background: #1b6d85;
}
.tile .title{
    font-weight: bold;
    font-size:20px;
    color:#ffffff;
}
.tile .description{
    color:#ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}
.tile .options{
    text-align: center;
    color:#ffffff;
    font-size:20px;
    font-weight: bold;
    cursor:pointer;
    padding-top:20px;
}
.tile-options{
    border-bottom:1px solid #ffffff;
    padding-bottom: 10px;
}
.tile .other{
    padding-top: 20px;
    color:#ffffff;
}
.tile .emails{
   text-align: right;
    cursor: pointer;
    font-size: 20px;
}
.emails .number{
    padding-right: 10px;
}
.options a, .emails a{
    color:#ffffff;
    text-decoration: underline;
}
ul.list-notes{
    list-style: none;
    padding:0px;
}
ul.list-notes li{
    border:1px solid #eee;
    padding: 10px;
    color:#000000;
    border-top:0px;

}
ul.list-notes li a{
    font-size:20px;
    color:#000000;
    text-decoration: underline;
}
.hr-top{
    margin: 0px;
    margin-top:20px;
    width:100%;
}
.notes-main{
    padding: 0px;
}
.page-heading h2{
    text-align: center;

}
.selected_note{
    background:#337ab7;
}
.selected_note a{
    color:#ffffff !important;
}